@charset "UTF-8";
body {
	font-family: 'Old Standard TT', serif;
	padding: 0px;
	margin-top: 30px;	
	background-color: #A6AF94;
}
.navigation {
	height: 60px;
	top: 0;
	list-style-type: none;
	max-width: 100%;
	text-align: center;
	margin-top: -10px;
	margin-left: -10px;
}
.navigation a:hover {
	color: #ffffff;
	}
a:link {
	color: #00733E;
	text-decoration: none;
}
a:visited {
	color: #00733E;
}
li {
	display: inline-block;
	font-size: 30px;
	padding: 10px 30px 0 0;
	width: fit-content;
}
/*full-screen background code borrowed from css-tricks.com
#nameplate {
	background: url('images/HomepageTree.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
/*smaller background from Denise Lu follows:*/
#nameplate {
	background: url('images/HomepageTree.jpg');
	background-repeat:no-repeat;
	min-height:800px;
	background-position:center;	
}
h1 {
	font-size:80px;
	color: #003300;
	text-align: center;
	line-height:450px;
	margin-top: -150px;
	margin-bottom:-100px;
}
h2 {
	font-size: 25px;
	color: 0A0A09;
	text-align: center;
	margin-bottom: 150px;
	margin-top: -150px;
	
}
#icons {
	text-align:center;
}
.iconimage {
	width: 40px;
	height: 40px;
	padding: 3px;
}

/*
#article {
	width: 960px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #A4A4A4;
	
}*/
/*
#section {
	float: center;
	width: 600px;
	height: 500px;
	background: none;
}*/

#footer {
	color: #003300;
	font-size: 16px;
	text-align: center;
	margin-top: -60px;
}


/*resumes starts here*/

.section-wrap {
	margin-left: 400px;
	margin-right: 400px;
	text-align:center;
}
.section-wrap h3 {
	font-size:30px;
	line-height: 5px;
	text-align:center;
}
.section-wrap h2 {
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}
p {
	font-size:18px;
	line-height:25px;
	text-align: center;
}
li {
	font-size: 24px;
	text-align: center;
}
.pages-section-wrap {
	width: 700px;
	margin: 20px;
	text-align: center;
}

@media (max-width: 500px) {
	h1 {
		font-size: 34px;
		margin-top: -140px;
}
	h2 {
		font-size: 20px;
}
	.navigation {
		margin-top: -30px;
		margin-bottom: -60px;
}
	#menu li {
		font-size: 16px;
		text-align: center;
}
	
}
	
}


